body {
    background: pink;
}
#menu {
    width: 100%;
    min-height: 100%;
    position: fixed;
    background: black;
}
#content{
    background: whitesmoke;
    display: inline-block;
    position: absolute;
    left: 291px;
    width: 77%;
}

.carte_id{
    margin: 2% 3.5%;
    display: inline-block;
    max-height: 400px;
    position: relative;
}
img{
    max-height: 400px;
}

.nomprenom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: green;
}
.nomprenom h1{
    font-size:1.5em;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}