body {
    background: pink;
}
#menu {
    width: 100%;
    min-height: 100%;
    position: fixed;
    background: #232323;
    color: white;
    padding: 0.5em;
}
#content{
    background: whitesmoke;
    display: inline-block;
    position: absolute;
    left: 291px;
    width: 77%;
}

.carte_id{
    margin: 2% 3.5%;
    display: inline-block;
    max-height: 400px;
    position: relative;
}
img{
    max-height: 400px;
}
.figure{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #007FEB;
    padding: 5px 0;
    color: white;
}
.figure h1{
    font-size:1.4em;
    width: 100%;
    margin-left: 5%;
}
.figG, .figD{
    width: 45%;
    display: inline-block;
}
.figD{
    text-align: right;
}