/* line 5, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Colors*/
/**/
/*Main properties*/
/*Header Properties*/
/*Aside properties*/
/*nav properties*/
/*content properties*/
/* line 6, ../../sass/main.scss */
html,
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  font-family: 'Avenir Next LT Pro Bold';
  overflow: hidden;
}

/* line 15, ../../sass/main.scss */
header {
  height: 12vh;
  width: 100vw;
  z-index: 6;
  color: #fdfefe;
  background-color: #d46559;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 3em;
}

/* line 26, ../../sass/main.scss */
main {
  min-height: 30vh;
  width: 100vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  z-index: 10;
}
/* line 32, ../../sass/main.scss */
main div#right-bloc {
  width: 80vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 37, ../../sass/main.scss */
main div#right-bloc ul {
  width: 80vw;
  height: 5vh;
  color: #fdfefe;
  background-color: #f08d82;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: 8;
}
/* line 47, ../../sass/main.scss */
main div#right-bloc ul li {
  padding: 20px;
  text-align: center;
  font-size: 1em;
  font-family: 'Avenir Next LT Pro Bold';
  transition: .2s;
  text-transform: uppercase;
}
/* line 53, ../../sass/main.scss */
main div#right-bloc ul li:hover {
  cursor: pointer;
  background-color: #fdfefe;
  color: #d46559;
  border-bottom: 15px inset #d46559;
}
/* line 60, ../../sass/main.scss */
main div#right-bloc #content {
  background-color: #fdfefe;
  color: #d46559;
  height: 83vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 72, ../../sass/main.scss */
main div#right-bloc #content article figure div {
  height: 250px;
  width: 250px;
  background-position: center 30%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 83, ../../sass/main.scss */
main aside {
  height: 88vh;
  width: 20vw;
  color: #fdfefe;
  background-color: #ec7063;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  z-index: 5;
}
/* line 89, ../../sass/main.scss */
main aside div {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 5vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
/* line 98, ../../sass/main.scss */
main aside ul {
  width: 100%;
  height: 100%;
}
/* line 101, ../../sass/main.scss */
main aside ul li {
  width: 100%;
  padding: 3% 0;
  text-align: center;
  border-top: dashed 3px #f08d82;
  border-bottom: dashed 3px #f08d82;
  transition: .2s;
}
/* line 108, ../../sass/main.scss */
main aside ul li:hover {
  cursor: pointer;
  background-color: #fdfefe;
  color: #d46559;
  border-bottom: 15px inset #d46559;
}
