@import "compass/reset";
@import "compass/support";
@import "compass/css3";
@import "utilities/variables";
//NAVIGATION
html,
body {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(center);
    font-family: 'Avenir Next LT Pro Bold';
    overflow: hidden;
}

header {
    height: $header-h;
    width: $header-w;
    z-index: 6;
    @include maintone-deep();
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    font-size: 3em;
}

main {
    min-height: 30vh;
    width: $main-wid;
    @include display-flex();
    @include flex-direction(row);
    z-index: 10;
    div#right-bloc {
        width: $nav-w;
        @include display-flex();
        @include flex-direction(column);
        @include flex-shrink(0);
        ul {
            width: $nav-w;
            height: $nav-h;
            @include maintone-clear();
            @include display-flex();
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(center);
            @include flex-wrap(wrap);
            z-index: 8;
            li {
                padding: 20px;
                text-align: center;
                font-size: 1em;
                font-family: 'Avenir Next LT Pro Bold';
                transition: .2s;
                &:hover {
                    cursor: pointer;
                    @include white-deep();
                }
                text-transform: uppercase;
            }
        }
        #content {
            @include white();
            height: $content-h;
            overflow-y: scroll;
            overflow-x: hidden;
            @include display-flex();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include align-items(center);
            @include justify-content(space-around);
            article {
                figure {
                    div {
                        height: 250px;
                        width: 250px;
                        background-position: center 30%;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    aside {
        height: $aside-h;
        width: $aside-w;
        @include maintone();
        @include flex-shrink(0);
        z-index: 5;
        div {
            @include display-flex();
            @include align-items(center);
            @include justify-content(center);
            height: 5vh;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
        }
        ul {
            width: 100%;
            height: 100%;
            li {
                width: 100%;
                padding: 3% 0;
                text-align: center;
                border-top: dashed 3px $maintone-clear;
                border-bottom: dashed 3px $maintone-clear;
                transition: .2s;
                &:hover {
                    cursor: pointer;
                    @include white-deep();
                }
            }
        }
    }
}
